div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 100%;
  display: inline-block;
  background-image: url(puppy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 200px;
  border: 10px groove orangered;
  /* border-radius: 100%; */
  padding: 10px;
  /* margin: 40px; */
  box-sizing: border-box;
}

.dogone {
  border: 10px dashed orangered;
}

.dogtwo {
  border: 10px dotted orangered;
}

.dogthree {
  border: 10px double orangered;
}
