* {
  margin: 50px;
}
header {
  width: 100px;
  height: 200px;
  background-color: red;
}

section {
  width: 100px;
  height: 200px;
  background-color: blue;
}

article {
  width: 50px;
  height: 100px;
  background-color: yellow;
}

aside, footer {
  width: 100px;
  height: 100px;
  background-color: green;
}
